.fake-post2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    border: 5px solid black;
    border-radius: 25px;
    padding: 25px;
}

.fake-post1 {
    border: 5px solid black;
    border-radius: 25px;
    padding: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 650px;
}