body {
    margin: 0px;
    padding: 0px;
}

.nav {
    width: 400px;
    height: 948px;
    width: 25%;
}

.navigation {
    width: 25%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.profile {
    width: 150px;
    height: 150px;
    background-color: red;
}

.messagerie {
    width: 150px;
    height: 150px;
    background-color: red;
}

.amis {
    width: 150px;
    height: 150px;
    background-color: red;
}
