body {
    margin: 0px;
    padding: 0px;
    background-color: #e6e3dc;
}

.nav {
    width: 300px;
    height: 917px;
    width: 25%;
}

.navigation {
    width: 75%;
    height: 100%;
    background: rgb(48,196,177);
    background: linear-gradient(90deg, rgba(48,196,177,1) 0%, rgba(6,194,232,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 5px black;
    
}

.profile {
    width: 150px;
    height: 150px;
}

.messagerie {
    width: 150px;
    height: 150px;
}

.amis {
    width: 150px;
    height: 150px;
}